@model LoginModel
@{
    Layout = "_LayoutSemLogin";
    ViewData["Title"] = "Login";
}

@if(TempData["MensagemErro"] != null)
{
    <center><div class="alert alert-danger alert-dismissible" style="width: 350px">
        <button class="close" data-dismiss="alert">X</button>
        @TempData["MensagemErro"]<br>
        @TempData["MensagemErr"]
    </div></center>
}

<div class="row">
    <div class="col-xs-12">
        <div class="center-block" style="width: 350px">
        <form class="form-container" asp-controller="Login" asp-action="Entrar" method="post">
            <h4 class="test-center mt-4 text-center">@ViewData["Title"]</h4>
            <div class="form-group">
                <label for="login" class="form-label">Login</label>
                <input type="text" asp-for="Login" class="form-control" id="login" >
                @Html.ValidationMessageFor(x => x.Login)
            </div>
            <div class="form-group">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" asp-for="Senha" class="form-control" id="senha">
                @Html.ValidationMessageFor(x => x.Senha)
            </div class="form-group">

            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
         </form>
         </div>

    </div>
  
</div>



